[Unit]
Description=WoWS Renderer Bot
After=network.target

[Service]
User=USERNAME
Group=GROUP
WorkingDirectory=
Restart=always
RestartSec=15
Environment=PATH=""
Environment=VIRTUAL_ENV=
ExecStart=venv/bin/python -OO main.py

[Install]
WantedBy=multi-user.target
